@media all and (min-width: 1150px) {
	.trsprnt:hover {
		background-color: #00897b;
		border-color: transparent;
	}

	.green {
		border: 2px solid;
		background-color: transparent;
	}

	.nav-link:hover {
		background-color: black;
		color: white;
	}

	.second-item:hover {
		background-color: #00897b;
		color: white;
	}

	.second-item:hover .readmore {
		border-color: #fff;
		color: #fff;
		transform: scale(1.05);
		box-shadow: 0 0 40px 5px rgba(0,0,0,0.3);
	}
}